<section class="product-blicksolutions">
  <div class="page-width">
    <div class="pdp-wrapper">
      <div class="product-gallery">
        {% comment %} Work in Progress {% endcomment %}
      </div>
      <div class="product-info">
        <h1 class="product-title">{{ product.title }}</h1>
        <p class="product-description">{{ product.description }}</p>

        {% if product.compare_at_price > product.price %}
          <p class="product-price-compare">
            <s>{{ product.compare_at_price | money }}</s>
          </p>
        {% endif %}

        <p class="product-price">{{ product.price | money }}</p>
        
        <p class="product-tax-note">
          {{ 'products.product.taxes_included' | t }}
        </p>

        {% if product.available %}
          <p class="product-availability available">
            🟢 {{ 'products.product.inventory_in_stock' | t }}, {{ 'products.product.normal_shipping_time' | t }}
          </p>
        {% else %}
          <p class="product-availability unavailable">
            🔴 {{ 'products.product.inventory_out_of_stock' | t }}
          </p>
        {% endif %}

      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    new Splide('#splide', {
      type: 'slide',
      perPage: 1,
      pagination: false,
      arrows: true,
      heightRatio: 0.6,
      breakpoints: {
        768: {
          heightRatio: 1,
          arrows: false,
        },
      },
    }).mount();
  });
</script>

{% schema %}
{
  "name": "PDP BlickSolutions",
  "tag": "section",
  "class": "section-pdp",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "PDP BlickSolutions"
    }
  ]
}
{% endschema %}
