{{ 'section-main-product-blicksolutions.css' | asset_url | stylesheet_tag }}

<section class="product-blicksolutions">
  <div class="page-width">
    <div class="pdp-wrapper">
      <div class="product-gallery">
        {% comment %} Work in Progress {% endcomment %}
      </div>
      <div class="product-info">
        <h1 class="product-title">{{ product.title }}</h1>
        <p class="product-description">{{ product.description }}</p>

        {% if product.compare_at_price > product.price %}
          <p class="product-price-compare">
            <s>{{ product.compare_at_price | money }}</s>
          </p>
        {% endif %}

        <p class="product-price">{{ product.price | money }}</p>
        
        <p class="product-tax-note">
          {{ 'products.product.taxes_included' | t }}
        </p>

        {% if product.available %}
          <p class="product-availability available">
            {{ 'products.product.inventory_in_stock' | t }}, {{ 'products.product.normal_shipping_time' | t }}
          </p>
        {% else %}
          <p class="product-availability unavailable">
            {{ 'products.product.inventory_out_of_stock' | t }}
          </p>
        {% endif %}

        <form method="post" action="/cart/add">
          <input 
            type="hidden" 
            name="id" 
            value="{{ product.variants.first.id }}">
          <button 
            type="submit" 
            {% if product.selected_or_first_available_variant.available == false or product.available == null
            %}
              disabled
            {% endif %}
            class="product-add-to-cart">
            {{ 'products.product.add_to_cart' | t }}
          </button>
        </form>

      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "PDP BlickSolutions",
  "tag": "section",
  "class": "section-pdp",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "PDP BlickSolutions"
    }
  ]
}
{% endschema %}
